<div class="education_frame">

  <div class="education_title">
    Education
  </div>

  <div style="width: 100%;">
    <div class="event">
      <div class="event_card card">
        <div class="event_card_heading">
          <div class="event_card_title">
            Education 1
          </div>

          <div class="event_date">
            January 2017 - March 2018
          </div>
        </div>

        <div class="event_card_body">
          Lorem ipsum dolor sit amet, consectetur adipisicing edivt. Minima provident quis ut voluptas. Accusamus ad
          adivas dolor, dolore fugit labore laudantium minus, modi pariatur quia reprehenderit rerum veniam voluptate
          voluptatum!
        </div>
      </div>
    </div>

    <div class="event_reverse">
      <div class="event_card_reverse card">
        <div class="event_card_heading">
          <div class="event_card_title">
            Education 2
          </div>
          <div class="event_date">
            2015 - 2016
          </div>
        </div>
        <div class="event_card_body">
          Lorem ipsum dolor sit amet, consectetur adipisicing edivt. Consequatur cupiditate deserunt dolore doloremque,
          ea, harum ipsa labore laboriosam minus modi moldivtia nostrum obcaecati odit quasi qui quia quo quod sunt.
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event_card card">
        <div class="event_card_heading">
          <div class="event_card_title">
            Education 3
          </div>
          <div class="event_date">
            Summer 2014
          </div>
        </div>
        <div class="event_card_body">
          Lorem ipsum dolor sit amet, consectetur adipisicing edivt. Asperiores, beatae consectetur deleniti,
          doloremque ex harum impedit, incidunt inventore labore magnam nesciunt repellat! Ad ex excepturi officia
          possimus quod veniam voluptatem.
        </div>
      </div>
    </div>
  </div>

</div>
