<div class="education_frame">

  <div class="education_title">
    Education
  </div>

  <div style="width: 100%;">

    <div class="event ghost"></div>

    <div class="event">
      <div class="event_card card">
        <div class="event_card_heading">
          <div class="event_card_title">
            Master's degree in Economics, Management and Finance
          </div>

          <div class="event_date">
            2016 - 2020
          </div>
        </div>

        <div class="event_card_body">
          <div class="event_card_school">
            Ecole des Ponts ParisTech
            <div class="location">
              Paris, France
            </div>
          </div>
          Currently in the 2nd year of a Master's degree in one of the top French engineering schools, I'm studying Corporate Finance,
          Market finance, Mergers & Acquisitions, Software development, Theory of Games, Statistics, Econometry and Operational research.
        </div>
      </div>
      <img src="assets/ponts.png" alt="Ponts ParisTech logo" width="10%" class="event_card_logo" style="right: 45%; top: -2%;">
    </div>

    <div class="event_reverse">
      <div class="event_card_reverse card">
        <div class="event_card_heading">
          <div class="event_card_title">
            Engineering Preparatory class
          </div>
          <div class="event_date">
            2014 - 2016
          </div>
        </div>
        <div class="event_card_body">
          <div class="event_card_school">
            Lycée aux Lazaristes
            <div class="location">
              Lyon, France
            </div>
          </div>
          Intensive and hard working preparatory class for the Grandes Ecoles d'Ingénieur entrance exam on mathematics,
          physics and engineering science.
        </div>
      </div>
      <img src="assets/lazos.png" alt="Lazaristes logo" width="13%" class="event_card_logo" style="right: 45%; top: -2%; padding: 0;">
    </div>

    <div class="event">
      <div class="event_card card">
        <div class="event_card_heading">
          <div class="event_card_title">
            Baccalauréat Scientifique
          </div>
          <div class="event_date">
            2014
          </div>
        </div>
        <div class="event_card_body">
          <div class="event_card_school">
            Lycée des Maristes
            <div class="location">
              Lyon, France
            </div>
          </div>
          with the distinction of the jury.
        </div>
      </div>
      <img src="assets/maristes.png" alt="Maristes logo" width="11%" class="event_card_logo" style="right: 44.8%; top: -3%;">
    </div>
  </div>

</div>
