#ProfilePicture {
    position: absolute;
    top: -5em;
    box-sizing: border-box;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: solid 4px grey;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img {
    width: 100%;
}
