.header_frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.first_bar {
  width: 100%;
  height: 2em;
  background-color: #414141;
  border: 1em solid #414141;
  box-shadow: 0 0.2em 0.2em #353535;
  z-index: 2;
}

.second_bar {
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #595959;
  color: #ffffff;
  padding: 0.5em;
  border: 1em solid #595959;
  box-shadow: 0 0.2em 0.2em #b1b1b1;
}

.bio_section {
  width: 80%;
  height: auto;
  padding: 5em 0.5em 0.5em 0.5em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.profil_picture {
  width: 15%;
  border-radius: 50%;
  position: relative;
  float: bottom;
  /*transform: translate(0em, 0.5em);*/
  background-color: white;
  padding: 0.2em;
  border: 0.3em solid #595959;
  box-shadow: 0 0 1em #595959;
  z-index: 3;
}

.social_media {
  color: grey;
  margin-bottom: 0.4em;
}

.social_icon {
  margin: 0 1em 0 1em;
  cursor: pointer;
  opacity: 0.4;
}

.social_icon:hover {
  transform: scale(1.1,1.1);
  opacity: 0.6;
  filter: alpha(opacity=60) !important; /* For IE8 and earlier */
}

.bio_text {
  padding: 2em;
  text-align: justify;
}

.name {
  font-weight: bolder;
  font-size: 1.1em;
}

.title {
  font-weight: lighter;
  font-size: 0.8em;
  padding: 1em;
}

.subtitle {
  color: #353535;
  margin: 1em;
  font-weight: bold;
}
.popup {
  margin: 0.8em 0.8em -1em;
  transition: 0.25s all;
}

@media screen and (max-width: 600px) {
  .bio_text {
    text-align: justify;
  }

  .bio_section {
    padding-top: 2em;
    margin-top: 1em;
  }

  .btn {
    font-size: 0.4em;
  }
}
