<div class="header_frame">

  <div class="first_bar"></div>

  <div class="second_bar">
      <div class="name">Basile NOUVELLET</div>
      <div class="title">Financial engineering and Computer science Student at <a target="_blank" href="http://www.enpc.fr/en" style="font-weight: bold;">Ecole des Ponts ParisTech</a></div>
    <img class="profil_picture" src="../../assets/PhotoCV.jpg">
  </div>

  <div class="bio_section card">
    <div class="social_media">
      <a target="_blank" href="https://www.linkedin.com/in/basile-nouvellet/">
        <img class="social_icon" src="../../assets/linkedin.png" width="3%"
             href="https://www.linkedin.com/in/basile-nouvellet/">
      </a>
      <a target="_blank" href="https://github.com/BasileNouvellet">
        <img class="social_icon" src="../../assets/github.png" width="3%"
             href="https://github.com/BasileNouvellet">
      </a>
      <a (click)="copyMailToClipboard()">
        <img class="social_icon" src="../../assets/mail.png" width="3%">
      </a>
    </div>

    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null" class="popup">{{ successMessage }}</ngb-alert>

    <div class="subtitle">I'm looking for a 6-month internship in Singapore, starting in June or July 2018</div>

    <div class="bio_text">
        My name is Basile, I am currently studying Financial engineering and Computer Science at Ecole des Ponts ParisTech,
      one of the top French engineering schools. I have an entrepreneurial mindset with strong problem solving skills,
      a UX Design sensitivity and a true desire to learn !
    </div>

    <p class="lead">
      <a target="_self"
         href="../../assets/Resume_Basile_NOUVELLET.pdf"
         download="Resume_Basile_NOUVELLET.pdf"
         class="btn btn-lg btn-secondary">Download CV</a>
      <a target="_blank" href="mailto:basile.nouvellet@ponts.org" class="btn btn-lg btn-secondary">Contact me</a>
    </p>

  </div>
</div>
