/*
 * Footer
 */
a {
  color: #414141;
}

a:hover {
  color: cornflowerblue;
}

.mastfoot {
  padding: 0.5em 1em 0.5em 1em;
  /*background-color: #414141;*/
  color: grey;
  opacity: 0.5;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
}
