<div class="experiences_frame">

  <div class="experiences_title">
    Experiences
  </div>

  <div style="width: 100%;">

    <div class="event" style="height: 5em;"></div>

    <div class="event">
        <div class="event_card card">
         <div class="event_card_heading">
            <div class="event_card_title">
              Front-End Developer
            </div>
            <div class="event_date">
              November 2017 - February 2018
           </div>
         </div>
          <div class="event_card_body">
            <div class="event_card_company">
              Harvestr
            </div>
            Coding project in a french tech start up as part of my Software development class of my school (HTML, CSS,
            Typescript, Angular 5)
          </div>
        </div>
      <img src="assets/harvestr.png" alt="Harvestr logo" class="event_card_logo" width="10%" style="right: 45.2%; top: -3%;">
    </div>

    <div class="event_reverse">
    <div class="event_card_reverse card">
      <div class="event_card_heading">
        <div class="event_card_title">
          Full-Stack Developer
        </div>
        <div class="event_date">
          March 2017 - December 2017
        </div>
      </div>
      <div class="event_card_body">
        <div class="event_card_company">
          Town Hall of Paris
        </div>
        Developing with HTML, CSS, Javascript and AngularJS the website for an automatic ID card reading, in partnership
        with the Junior enterprise of my school, and Python for some back-end work
      </div>
    </div>
      <img src="assets/mairie.png" alt="Town Hall of Paris logo" class="event_card_logo" width="13%" style="right: 43.55%; top: 1%;">
  </div>

    <div class="event">
      <div class="event_card card">
        <div class="event_card_heading">
          <div class="event_card_title">
            Assistant
          </div>
          <div class="event_date">
            June 2017 - July 2017
          </div>
        </div>
        <div class="event_card_body">
          <div class="event_card_company">
            Pogo Structures
          </div>
          Multitasked worker on the Pogo Structures shipyard, the leading race sailing boat builder located in Brittany, France
        </div>
      </div>
      <img src="assets/pogo.png" alt="Pogo logo" class="event_card_logo" width="12%" style="right: 44%; top: 6%;">
    </div>

    <div class="event_reverse">
      <div class="event_card_reverse card">
        <div class="event_card_heading">
          <div class="event_card_title">
            Computer teacher & Bug resolver
          </div>

          <div class="event_date">
            2016 - Present
          </div>
        </div>

        <div class="event_card_body">
          <div class="event_card_company">
            Update You
          </div>
          Home teaching computer usage and resolving technological issues in a french tech start up
        </div>
      </div>
      <img src="assets/uy_logo.png" alt="Update You logo" width="15%" class="event_card_logo" style="right: 43%; top: 7%;">
    </div>
  </div>

</div>
