<div class="experiences_frame">

  <div class="experiences_title">
    Experiences
  </div>

  <div style="width: 100%;">
    <div class="event">
      <div class="event_card card">
        <div class="event_card_title">
          Experience 1
        </div>

        <div class="event_card_body">
          Lorem ipsum dolor sit amet, consectetur adipisicing edivt. Minima provident quis ut voluptas. Accusamus ad
          adivas dolor, dolore fugit labore laudantium minus, modi pariatur quia reprehenderit rerum veniam voluptate
          voluptatum!
          <ul>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing edivt. Accusantium ducimus, eius esse eveniet facidivs
              fugit harum ipsam iure, ratione reiciendis repellendus sit vitae! Aut delectus excepturi hic odio vero,
              voluptate?
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing edivt. A edivgendi eos illum maxime modi molestias
              porro quibusdam, repellendus? Eum facidivs divbero non odio quia. Animi dicta eveniet id officiis ratione!
            </div>
          </ul>
        </div>

        <div class="event_date card">
          January 2017 - March 2018
        </div>
      </div>
    </div>

    <div class="event_reverse">
      <div class="event_card_reverse card">
        <div class="event_card_title">
          Experience 2
        </div>
        <div class="event_card_body">
          Lorem ipsum dolor sit amet, consectetur adipisicing edivt. Consequatur cupiditate deserunt dolore doloremque,
          ea, harum ipsa labore laboriosam minus modi moldivtia nostrum obcaecati odit quasi qui quia quo quod sunt.
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event_card card">
        <div class="event_card_title">
          Experience 3
        </div>
        <div class="event_card_body">
          Lorem ipsum dolor sit amet, consectetur adipisicing edivt. Asperiores, beatae consectetur deleniti,
          doloremque ex harum impedit, incidunt inventore labore magnam nesciunt repellat! Ad ex excepturi officia
          possimus quod veniam voluptatem.
        </div>
      </div>
    </div>
  </div>

</div>
