<div class="experiences_frame">
  <ul style="width: 100%;">
    <li class="event">
      <div class="event_card card">
        <div class="event_card_title">
          Experience 1
        </div>

        <div class="event_card_body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima provident quis ut voluptas. Accusamus ad
          alias dolor, dolore fugit labore laudantium minus, modi pariatur quia reprehenderit rerum veniam voluptate
          voluptatum!
        </div>
      </div>
    </li>

    <li class="event_reverse">
      <div class="event_card card">
        <div class="event_card_title">
          Experience 2
        </div>
        <div class="event_card_body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate deserunt dolore doloremque,
          ea, harum ipsa labore laboriosam minus modi mollitia nostrum obcaecati odit quasi qui quia quo quod sunt.
        </div>
      </div>
    </li>

    <li class="event">
      <div class="event_card card">
        <div class="event_card_title">
          Experience 3
        </div>
        <div class="event_card_body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, beatae consectetur deleniti,
          doloremque ex harum impedit, incidunt inventore labore magnam nesciunt repellat! Ad ex excepturi officia
          possimus quod veniam voluptatem.
        </div>
      </div>
    </li>
  </ul>
</div>
