.experiences_frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em 2em;
  margin-bottom: 3em;
  position: relative;
}

.experiences_title {
  color: #4CAF50;
  padding: 1.3em;
  font-weight: bold;
  font-size: 1.7em;
}

.event {
  /*height: 10em;*/
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
}

.event_reverse {
  /*height: 10em;*/
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.event:after {
  content: " ";
  width: 0.15em;
  height: 100%;
  background-color: #A5D6A7;
  position: absolute;
  right: 50%;
  top: 0;
}

.event_reverse:after {
  content: " ";
  width: 0.15em;
  height: 100%;
  background-color: #A5D6A7;
  position: absolute;
  top: 0;
  right: 50%;
}



.event_card {
  width: 41%;
  padding: 1em;
  border: 0.02em solid rgba(65,65,65,0.15);
}

.event_card:after {
  content: "";
  width: 1.5em;
  height: 1.5em;
  /*box-shadow: -0.02em -0.02em 0 rgba(65,65,65,0.2);*/
  border-top: 0.02em solid rgba(65,65,65,0.15);
  border-left: 0.02em solid rgba(65,65,65,0.15);
  border-top-left-radius: 0.15em;
  position: absolute;
  top: 1.45em;
  right: -0.765em;
  transform: rotate(135deg);
  background-color: #4CAF50;
}

.event_card_reverse {
  width: 41%;
  padding: 1em;
  border: 0.02em solid rgba(65,65,65,0.15);
}

.event_card_reverse:after {
  content: "";
  width: 1.5em;
  height: 1.5em;
  /*box-shadow: -0.02em -0.02em 0 rgba(65,65,65,0.2);*/
  border-bottom: 0.02em solid rgba(65,65,65,0.15);
  border-right: 0.02em solid rgba(65,65,65,0.15);
  border-bottom-right-radius: 0.15em;
  position: absolute;
  top: 1.45em;
  left: -0.765em;
  transform: rotate(135deg);
  background-color: #4CAF50;
}

.event_card_heading {
  background-color: #4CAF50;
  margin: -1em -1em 0 -1em;
  padding: 0.8em 0.8em 0.8em 1em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  box-shadow: 0 0.3em 1em 0 rgba(65, 65, 65, 0.2);
}

.event_card_title {
  font-weight: bold;
  font-size: 1.1em;
  color: white;
}

.event_card_body {
  padding: 0.8em 0 0.4em 0;
  text-align: justify;
}

.event_date {
  color: #A5D6A7;
  font-weight: bold;
  font-size: 0.8em;
  width: fit-content;
  position: relative;
  padding: 0.2em 0.4em 0.2em 0;
}

.event_card_company {
  color: #4CAF50;
  font-weight: bold;
  font-size: 1.1em;
  padding: 0.2em 0 0.2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.event_card_logo {
  position: absolute;
  padding: 0.8em;
  z-index: 3;
  background-color: whitesmoke;
}

.location {
  float: right;
  font-size: 0.8em;
  color: #595959;
}

.ghost {
  height: 5em;
}

@media screen and (max-width: 425px){

  .event {
    justify-content: center;
  }

  .event_reverse {
    flex-direction: row;
    justify-content: center;
  }

  .event_card {
    width: 100%;
    max-width: 600px;
  }

  .event_card_reverse {
    width: 100%;
    max-width: 600px;
  }

  .event:after {
    width: 0;
  }

  .event_reverse:after {
    width: 0;
  }

  .event_card:after {
    width: 0;
    border: transparent;
  }
  .event_card_reverse:after {
    width: 0;
    border: transparent;
  }

  .event_card_logo {
    width: 0;
    background: transparent;
  }

  .ghost {
    height: 0;
  }
}

