<div class="projects_frame">

  <div class="projects_title">
    Ongoing Projects
  </div>

  <div class="projects_cards_frame">

    <div class="projects_card card">
      <div class="projects_card_heading">
        This Website
      </div>
      <div class="projects_card_body">
        I am developing this website from scratch, without pre-made templates, using Angular (v5), HTML, CSS and a some
        Twitter Bootstrap and Google Material guidelines colors. I am glad to present it to you, as a resume you would
        enjoy
        to read and as a portfolio too !
      </div>
    </div>

    <div class="projects_card card">
      <div class="projects_card_heading">
        AI-based Cryptocurrency price forecasting
      </div>
      <div class="projects_card_body">
        In partnership with Quantmetry, a French data consulting start up, we are a team of 4 people working on cryptocurrency
        price forecasting using machine learning (in Python) and some web-scrapping.
      </div>
    </div>

  </div>
</div>
