.projects_frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
  padding: 2em;
  padding-top: 0;
}

.projects_cards_frame {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.projects_title {
  font-weight: bold;
  font-size: 1.7em;
  padding: 1.3em;
  color: #CDDC39;
}

.projects_card {
  width: 45%;
  position: relative;
  display: flex;
  flex-direction: column;
  border: transparent;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.projects_card_heading {
  background-color: #CDDC39;
  /*margin: -1em -1em 0 -1em;*/
  padding: 0.8em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  box-shadow: 0 0.3em 1em 0 rgba(65, 65, 65, 0.2);
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  text-align: center;
}

.projects_card_body {
  padding: 1em;
  /*background-color: #E6EE9C;*/
  text-align: justify;
}

@media screen and (max-width: 425px) {
  .projects_cards_frame {
    flex-direction: column;
  }

  .projects_card {
    width: 100%;
  }

  .bar {
    width: 0;
  }

}
