<div class="skills_frame">

  <div class="skills_title">
    Skills & Hobbies
  </div>

  <div class="skills_cards_frame">

    <div class="skills_card">
      <div class="skills_card_heading">
        Computer
      </div>
      <div class="skills_card_body">
        <ul>
          <li>Python</li>
          <li>C++</li>
          <li>HTML, CSS</li>
          <li>Javascript</li>
          <li>Typescript</li>
          <li>Github</li>
          <li>Microsoft Office</li>
          <li>Google Docs</li>
        </ul>
      </div>
    </div>

    <div class="bar"></div>

    <div class="skills_card">
      <div class="skills_card_heading">
        Hobbies
      </div>
      <div class="skills_card_body">
        <ul>
          <li>Buying, fixing and selling back old motorcycles (1980s Yamahas mainly)</li>
          <li>Travelling : Europe, USA, India, Dubaï</li>
        </ul>
        <p></p>
      </div>
    </div>

    <div class="bar"></div>

    <div class="skills_card">
      <div class="skills_card_heading">
        Sports
      </div>
      <div class="skills_card_body">
        <ul>
          <li>Rugby in competition</li>
          <li>Volleyball in competition</li>
          <li>Kitesurf</li>
          <li>Sailing</li>
        </ul>

      </div>
    </div>

  </div>

</div>
