<div class="skills_frame">

  <div class="skills_title">
    Skills
  </div>

  <div class="skills_cards_frame">

    <div class="skills_card card">
      <div class="skills_card_heading">
        <div class="skills_card_title">
          Skill 1
        </div>
      </div>
      <div class="skills_card_body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eligendi excepturi officia omnis paria
      </div>
    </div>

    <div class="skills_card card">
      <div class="skills_card_heading">
        <div class="skills_card_title">
          Skill 2
        </div>
      </div>
      <div class="skills_card_body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus doloremque ducimus eos facere illo maiores
      </div>
    </div>

    <div class="skills_card card">
      <div class="skills_card_heading">
        <div class="skills_card_title">
          Skill 3
        </div>
      </div>
      <div class="skills_card_body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eaque excepturi libero nobis quibusdam.
      </div>
    </div>

  </div>

</div>
