<div class="skills_frame">

  <div class="skills_title">
    Skills & Hobbies
  </div>

  <div class="skills_cards_frame">

    <div class="skills_card">
      <div class="skills_card_heading">
        Computer
      </div>
      <div class="skills_card_body">
        <ul>
          <li>C++, Python, R</li>
          <li>JavaScript, TypeScript, HTML, CSS</li>
          <li>React, Electron, Angular, Node.js</li>
          <li>Jest, Enzyme, CircleCI</li>
          <li>Scikit-Learn, Pandas</li>
          <li>Git, Github</li>
          <li>Microsoft Office, Google Docs</li>
          <li>Webstorm</li>
        </ul>
      </div>
    </div>

    <div class="bar"></div>

    <div class="skills_card">
      <div class="skills_card_heading">
        Hobbies
      </div>
      <div class="skills_card_body">
        <ul>
          <li>Buying, fixing and selling back old motorcycles (1980s Yamahas mainly)</li>
          <li>Travelling: Europe, USA, India, Dubaï, Singapore, Malaysia, Vietnam, Cambodia, Hong Kong</li>
        </ul>
        <p></p>
      </div>
    </div>

    <div class="bar"></div>

    <div class="skills_card">
      <div class="skills_card_heading">
        Sports
      </div>
      <div class="skills_card_body">
        <ul>
          <li>Rugby in competition</li>
          <li>Volleyball in competition</li>
          <li>Kitesurfing</li>
          <li>Sailing</li>
        </ul>

      </div>
    </div>

  </div>

</div>
