ul {
  list-style-type: circle;
}

li {
  padding: 0.8em 0 0.8em 0;
}

.skills_frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
  padding: 2em;
  padding-top: 0;
}

.skills_cards_frame {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.skills_title {
  font-weight: bold;
  font-size: 1.7em;
  padding: 1.3em;
  color: #3F51B5;
}

.skills_card {
  width: 32%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bar {
  content: "";
  background-color: #9FA8DA;
  /*width: 0.15em;*/
  width: 0;
}

.skills_card_heading {
  background-color: #3F51B5;
  /*margin: -1em -1em 0 -1em;*/
  padding: 0.8em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  box-shadow: 0 0.3em 1em 0 rgba(65, 65, 65, 0.2);
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  text-align: center;
}

.skills_card_body {
  padding: 0.5em;
  background-color: #E8EAF6;
}

@media screen and (max-width: 425px) {
  .skills_cards_frame {
    flex-direction: column;
  }

  .skills_card {
    width: 100%;
  }

  .bar {
    width: 0;
  }

}
