<div>

<!--Header-->
<app-header></app-header>



<!--Main content-->
<!--<div>-->
  <!--<main role="main" class="inner cover">-->
    <!--<h1 class="cover-heading">Welcome, I'm Basile !</h1>-->
    <!--<h2 class="lead">I'm looking for a 6-months internship in Singapore, starting in June 2018</h2>-->
    <!--<p class="lead">-->
      <!--<a href="#" class="btn btn-lg btn-secondary">Show my studies</a>-->
    <!--</p>-->
  <!--</main>-->
<!--</div>-->

<!--Navbar-->
<!--<div>-->
  <!--<app-navbar></app-navbar>-->
<!--</div>-->
</div>



