<div class="languages_frame">
  <div class="languages_title">
    Languages
  </div>
  <div class="languages_circles_frame">
    <div class="languages_circle card">
      <span class="language">French</span>
      <span class="language_level">Mother tongue</span>
    </div>

    <div class="languages_circle card">
      <span class="language">English</span>
      <span class="language_level">Fluent</span>
    </div>

    <div class="languages_circle card">
      <span class="language">Spanish</span>
      <span class="language_level">Intermediate</span>
    </div>
  </div>
</div>
