#SectionItem {
    grid-area: card;
    width: 100%;
    background-color: white;
    margin: 0 0 2em 0;
    border-radius: 0.3em;
    box-shadow: 0 0.3em 1em 0 rgba(65, 65, 65, 0.2);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.6em;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    box-shadow: 0 0.3em 1em 0 rgba(65, 65, 65, 0.2);
}

.title {
    color: white;
    font-weight: bold;
}

.date {
    font-size: small;
}

.body {
    padding: .8em;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .6em;
}

.company {
    font-weight: bold;
}

.place {
    font-size: small;
}

.text {
    color: black;
    text-align: justify;
}
