#BioButtonsBar {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
}

.btn-call-to-action {
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    background-color: cornflowerblue;
    padding: .5em 1em;
    border-radius: 5px;
    box-shadow: 0 0.3em 1em 0 rgba(65, 65, 65, 0.2);
    user-select: none;
}
