/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: white;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: cornflowerblue;
  border: .05rem solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6em;
  margin: 0.7em;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: whitesmoke;
}

body {
  color: #333333;
}

#cover-container {
  max-width: 70em;
  margin: auto;
}

.card {
  border-radius: 0.3em;
  box-shadow: 0em 0.3em 1em 0 rgba(65, 65, 65, 0.2);
}
